.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.navigation .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: cover;
  border: 1px solid #beef9e;
}
.navigation-container {
  width: 20%;
  max-width: 100px;
  min-width: 70px;
  border-right: 1px solid #beef9e;
}
.home-link {
  border-right: 3px solid #beef9e;
}
.home-link,
.hashtag {
  font-size: 16px;
  color: #beef9e;
}
.logo {
  color: #fff;
  font-size: 36px;
}
.logo,
.home-link,
.hashtag,
.avatar-container {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 98%;
}
