body {
  margin: 0;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: cover;
  border: 1px solid #beef9e;
}
.container {
  display: flex;
  background-color: #001524;
  width: 100%;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home-link {
  border-right: 3px solid #beef9e;
}
.home-link,
.hashtag {
  font-size: 16px;
  color: #beef9e;
}
.logo {
  color: #fff;
  font-size: 36px;
}
.logo,
.home-link,
.hashtag,
.avatar-container {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 98%;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.navigation-container {
  width: 20%;
  max-width: 100px;
  min-width: 70px;
  border-right: 1px solid #beef9e;
}
.sidebar {
  flex: 1;
}
.tweet-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: gray;
  margin: 10px;
}
.tweets-list {
  height: 500px;
  margin: 20px;
}
.tweets-search-container {
  margin: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}
.tweets-search-container i {
  color: white;
  font-size: 30px;
  padding-left: 8px;
}
.trending-tweets-sidebar {
  display: flex;
  width: 200px;
  height: 500px;
  margin: 20px;
  background-color: white;
}
#user-search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: white;
  padding: 0 10px;
}
#user-search-input:focus {
  outline: none;
}
