.tweet-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #47525d;
  overflow: hidden;
}
.tweet-date-container {
  margin: 10px 20px;
  color: #47525d;
  font-size: 12px;
}
.tweet-user-fullname {
  font-size: 10px;
}
.tweet-image {
  flex-basis: 50%;
  flex-grow: 1;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1593878024377-b38927fc7689?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBnaXJsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60");
}
.tweet-images-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 0 20px;
  height: 200px;
  border: 1px solid #47525d;
  border-radius: 20px;
  overflow: hidden;
}
.tweets-list {
  margin: 20px;
  margin-top: 0;
}
.tweet-text-container {
  margin: 20px 20px 0 20px;
  font-size: 16px;
  color: #fff;
}
.tweet-user-avatar .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}
.tweet-user-name-container {
  color: white;
  display: flex;
  flex-direction: column;
}
.tweet-user-username {
  font-size: 8px;
}
.tweet-user-info {
  height: 20px;
  display: flex;
  align-items: center;
  margin: 10px 0 0 12px;
}
