.tweet-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #beef9e;
  overflow: hidden;
}
.tweet-date-container {
  margin: 10px 20px;
  color: #47525d;
  font-size: 12px;
}
.tweet-user-fullname {
  font-size: 10px;
}
.tweet-images-container {
  margin: 20px 20px 0 20px;
  height: 200px;
  border: 1px solid #47525d;
  border-radius: 20px;
  overflow: hidden;
}
.tweet-images-container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.tweets-list {
  height: 500px;
}
.tweet-text-container {
  margin: 20px 20px 0 20px;
  font-size: 16px;
  color: #fff;
}
.tweet-user-avatar .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}
.tweet-user-name-container {
  color: white;
  display: flex;
  flex-direction: column;
}
.tweet-user-username {
  font-size: 8px;
}
.tweet-user-info {
  height: 20px;
  display: flex;
  align-items: center;
  margin: 10px 0 0 12px;
}
